$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
$thColor: #6c7ae0;

body {
   * { box-sizing: border-box; }
}


.employee-list {
    margin-top: 7rem;
}

// .employee-list-table {
//     margin-top: 1rem;
// }

.employee-modal {
    position: fixed;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .employee-delete-modal-title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .employee-delete-modal-actions {
    text-align: center;
  }
  
  .employee-delete-modal-action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .employee-delete-modal-action-cancel {
    background: red;
    border-color: red;
  }

//   table, td, th {  
//     border: 1px solid #ddd;
//     text-align: left;
//   }
  
//   table {
//     border-collapse: collapse;
//     width: 100%;
//   }
  
//   th, td {
//     padding: 15px;
//   }





// .header {
//    background-color: darken($baseColor, 5%);
//    color: white;
//    font-size: 1.5em;
//    padding: 1rem;
//    text-align: center;
//    text-transform: uppercase;
// }

img {
   border-radius: 50%;
   height: $imageSmall;
   width: $imageSmall;
}

.table-users {
   border: 1px solid darken($baseColor, 5%);
   border-radius: $borderRadius;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 0 auto;
   overflow: auto;
   width: 100%;
}

table {
   width: 100%;
   
   td, th { 
      // color: darken($baseColor, 10%);
      padding: $padding; 
      font-family: sans-serif;
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      font-size: 0.95em;
      color: #808080;
      line-height: 1.4;
      padding: 1rem 0;
      // font-family: sans-serif;
      // &:last-child {
      //    font-size: 0.95em;
      //    line-height: 1.4;
      //    text-align: left;
      // }
   }
   
   th { 
      background-color: $thColor;
      font-weight: 300;
      color: #fff;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) {     background-color: #f8f6ff; }
   }
}

.action-button {
  margin-left: 10px;
}