<div *ngIf="employee">
        <div>
            <label>Id: </label> {{employee.id}}
        </div>
        <div>
            <label>Name: </label> {{employee.name}}
        </div>
        <div>
            <label>Email: </label> {{employee.email}}
        </div>
        <div>
            <label>company Name: </label> {{employee.company_name}}
            </div>
        <div>
            <label>Contact Number: </label> {{employee.contact_no}}
        </div>
        <div>
                <label>Designation: </label> {{employee.designation}}
            </div>
    
        <hr/>
    </div>