.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
  }

  .main-header div a {
   margin-right: 80px;
  }
  

  .add-button a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.add-button a:hover,
.add-button a:active, {
  color: #ff1b68;
  background: white;
  border: none;
}