@import 'src/app/shared/styles/app-colors.scss';

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .navigation-buttons {
    display: flex;
  }

.header-button {
  width: auto;
  height: 32px;
  position: relative;
  float: right;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: $white;
  padding: 6px 15px;
  border-radius: 2px;
  background-color: $dark-blue;
  cursor: pointer;
}

.create-new-member {
  margin-left: 20px;
}